
// 菜单栏
$menu-width: 160px;
$menu-fold-width: 64px;
$menu-background-color: #001529;

// 顶部导航
$tabbar-height: 60px;
$tabbar-background-color: #fff;

// 左侧菜单logo
$logo-height: 50px;
$logo-title-font-size: 17px;
